.icon {
    width: 250px;
}

.logo {
    width: 60px;
}

.input-fields {
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: none;
    border-bottom: 1.5px solid white;
    caret-color: white;
    padding-left: 3px;
    color: white;
}

.input-fields:focus {
    outline: none;
}