.select-fields {
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: none;
    border-bottom: 1.5px solid white;
    padding-left: 1px;
    color: white;
}

select > option {
    background: #212529;
    color: white;
 }

 select > option:first-child {
     color: grey;
 }

.select-fields:focus {
    outline: none;
}