html {
    background-color: #212529;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}